* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0.5 px dotted pink;
}
a:visited {
    color: lightpink;
}
a:hover {
    color: gold;
}
body {
    background-color: #2d3e76;
    width: 80%;
    margin: 50px auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#banner {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: 100% 75%;
    border-radius: 15px;
    display: block;
    border: 5px solid black;
}
.title {
    color: #ea3b51;
    margin: 20px 0;
}
select {
    line-height: 16px;
    height: 25px;
}
select option::selection {
    background-color: darkseagreen;
}
.d-flex {
    display: flex;
}
#select-area {
    align-items: flex-start;
    flex: 2;
    margin: 20px;
}
.plus {
    border: 0.5px solid gray;
    background-color: #101944;
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
}
.plus h1 {
    vertical-align: middle;
    text-align: center;
    color: white;
    padding: 5px 15px;
}
#displayClass, #displayResults {
    border: 0.5px solid white;
    background-color: #101944;
    padding: 20px;
    line-height: 16pt;
    border-radius: 5px;
    height: fit-content;
    margin-left: 50px;
    margin-top: 10px;
}
#displayClass h5, #displayResults h5 {
    color: #93539c;
}
#displayClass p, #displayResults p {
    margin-left: 25px;
    text-align: right;
    color: #e4b0ae;
}
.stats, .levels {
    margin-left: 5px;
}
#daButton {
    background-color: #916aae;
    color: white;
    padding: 8px;
    border-radius: 12px;
}