* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    width: 95%;
    margin: 30px auto;
}
#fileUploader {
    display: flex;
    margin: 20px 0;
}
details {
    display: block;
    width: 100%;
}
details[open] {
    height: 450px;
    overflow:scroll;
}